
/*
 * Container
 */

.container-fluid{
    padding: 48px;
}


/*
 * Headings
 */

h1{
    font-weight: bold;
    margin-top: 0;
}


/*
 * Sidebar
 */

.sidebar h1{
    margin-bottom: 48px;
}

.sidebar h3{
    border-top: 1px solid #ccc;
    padding-top: 12px;
    font-weight: bold;
}

.sidebar .table{
    font-size: .9em;
    font-family: monospace;
}

.sidebar .table td:first-child {
    text-transform: uppercase;
    font-weight: bold;
}