
/*
 * Nav
 */

.nav{
    font-family: monospace;
    width: 100%;
}

/* hide sidebar sub menus by default */
#sidebar.nav .nav {
	display: none;
    font-size:12px;
}

#sidebar.nav .nav li:before {
    content: "↳";
    float: left;
    padding-top: 8px;
    margin-left: -6px;
}

#sidebar.nav .nav li {
    padding-left: 32px;
}

#sidebar li.active {
}

#sidebar li li.active {
  	font-weight: bold;
}

/* show sub menu when parent is active */
#sidebar.nav>.active>ul {
	display: block;
}

/*
 * Content Container
 */

.content-container{
    padding-left: 48px;
}

/*
 * Sections
 */

.section-header{
    margin-top: 48px;
    padding-top: 24px;
    border-top: 1px solid #ccc;
}

.section-header h1{
    font-weight: bold;
}


/*
 * Sub Sections
 */

.sub-section{
    border-top: 1px solid #ccc;
    margin-top: 48px;
}

.sub-section h2{
    margin-top: 0;
    padding-top: 24px;
    font-weight: bold;
}

.sub-section .title{
    margin-bottom: 48px;
}

.sub-section p{
    font-size: 1.2em;
    line-height: 1.6em;
}

.sub-section .img-row{
    padding-top: 48px;
    padding-bottom: 48px;
}