
/*
 * Container
 */

.container-fluid{
    padding: 48px;
}


/*
 * Headings
 */

h1{
    font-weight: bold;
    margin-top: 0;
}


/*
 * Sidebar
 */

.nav-sidebar h1{
    margin-bottom: 72px;
}

.nav-sidebar h3{
    border-top: 1px solid #000;
    padding-top: 12px;
    font-weight: bold;
    margin-bottom: 24px;
}

.nav-sidebar .table{
    font-size: .9em;
    font-family: monospace;
}

.nav-sidebar .table td:first-child {
    text-transform: uppercase;
    font-weight: bold;
}

/*
 * Content Sections
 */

.content-section{
    border-top: 1px solid #000;
}

.section-sidebar{
    border-top: 1px solid #ccc;
    padding-top: 24px;
}